.paragraph1 {
  margin-top: 20px;
  width: 70%;
  margin: auto;
  font-size: 22px;
  letter-spacing: 1.5px;
  text-align: justify;
}

.paragraph2 {
  width: 70%;
  margin: auto;
  font-size: 22px;
  letter-spacing: 1.5px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .paragraph1 {
    width: 100%;
    font-size: 18px;
  }
  .paragraph2 {
    width: 100%;
    font-size: 18px;
  }
}
